

h1, h2, h3, h4, h5, h6, ._police{
    font-family: 'Amatic SC', cursive !important;
    font-weight: 500 !important;

}

body{
    background: rgb(2,0,36) !important;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,12,61,1) 34%, rgba(0,0,0,1) 100%) !important;
}

li{
    list-style: none;
}

._font-size{
    font-size: 30px !important;
}